[submodule "riscv-pk"]
	path = riscv-pk
	url = https://github.com/pulp-platform/riscv-pk.git
	branch = master
[submodule "riscv-gnu-toolchain"]
	path = riscv-gnu-toolchain
	url = https://github.com/riscv/riscv-gnu-toolchain.git
	branch = master
[submodule "buildroot"]
	path = buildroot
	url = git://git.buildroot.net/buildroot
[submodule "game/vitetris"]
	path = game/vitetris
	url = https://github.com/pulp-platform/vitetris.git
[submodule "coremark"]
	path = coremark
	url = https://github.com/2002liush/riscv-coremark.git
